@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/*
------------------------------
 GLOBAL styles
------------------------------
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* widths */
  --w-mobile: 375px;
  --w-desktop: 1440px;

  /* fonts */
  --fz-base: 1.6rem;
  --fz-small: 1.3rem;
  --fz-title: 2rem;

  --fw-medium: 500;
  --fw-bold: 700;

  /* colors */
  --bg-base: hsl(210, 46%, 95%);
  --bg-card: #fff;
  --bg-btn-share: hsl(214, 17%, 51%);

  --color-text: hsl(217, 19%, 35%);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-base);
  font-size: var(--fz-base);

  display: grid;
  place-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/*
------------------------------
 MOBILE styles
------------------------------
*/

.preview-card {
  max-width: var(--w-mobile);
  background-color: var(--bg-card);
  border-radius: 15px;
  overflow: hidden;

  display: grid;
}

.preview-card__body {
  display: grid;
  row-gap: 2.5;
}

.preview-card__about-box {
  padding: 4rem 3rem 0 3rem;
  display: grid;
  row-gap: 2rem;
}

.preview-card__header > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-card__creator-box {
  padding: 2rem 3rem;
  transition: background-color 0.3s;
}

.preview-card__btn-share {
  all: unset;

  display: grid;
  justify-self: end;
  place-content: center;

  cursor: pointer;
  background-color: var(--bg-base);
  border-radius: 100px;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s;
}

/* preview-card__creator styles 
-------------------------------*/
.preview-card__creator {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 1.5rem;
  align-items: center;
}

.preview-card__creator-wrapper {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content max-content;
  column-gap: 20px;
  opacity: 1;
  transition: opacity 0.3s;
}

.preview-card__creator-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.preview-card__creator-info {
  display: grid;
}

/* preview-card__share styles 
-----------------------------*/
.preview-card__share {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  align-items: center;

  grid-auto-flow: column;
  grid-auto-columns: min-content;
  column-gap: 20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.preview-card__share > li > a {
  display: grid;
} /* ------------------------ */

.preview-card__about,
.preview-card__date {
  opacity: 0.9;
}

.preview-card__about,
.preview-card__title,
.preview-card__date {
  color: var(--color-text);
}

.preview-card__about {
  font-size: var(--fz-small);
  line-height: 1.5;
  font-weight: var(--fw-medium);
  margin-bottom: 20px;
}

.preview-card__title {
  font-weight: var(--fw-bold);
  font-size: var(--fz-base);
}

.preview-card__creator-name {
  font-size: var(--fz-base);
  font-weight: var(--fw-bold);
}

.preview-card__date {
  font-weight: var(--fw-medium);
  font-size: var(--fz-small);
}

.icon-btn {
  width: 15px;
  height: 15px;
  transition: background-color 0.3s;
}

.icon-plus {
  width: 25px;
  height: 25px;
}

/* on preview-card__btn-share clicked styles
------------------------------------------------*/
.preview-card__creator-box--onClick {
  background-color: var(--color-text);
}

.preview-card__share--onClick {
  opacity: 1;
  z-index: 1;
}

.preview-card__creator-wrapper--onClick {
  opacity: 0;
  z-index: -1;
}

.icon-btn--onClick {
  fill: var(--bg-card);
}

.preview-card__btn-share--onClick {
  background-color: var(--bg-btn-share);
} /* ---------------------------------------------------- */

/*
------------------------------
 UTILITY styles
------------------------------
*/
.txt-uppercase {
  text-transform: uppercase;
}

.color-txt {
  color: var(--bg-card);
  opacity: 0.9;
  letter-spacing: 3px;
  font-size: var(--fz-small);
}
